/**
* @name NotAnotherKnightTheme
* @version Auto Update
* @author Mixeration
*/
@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
:root {
--main-theme-color: #43b581;
--theme-transparency: #000000cc;
--theme-background-image: url('https://i.imgur.com/woUp8Rl.gif');
--home-icon-image: url('https://i.imgur.com/YZO2C9F.gif');
--home-icon-image-zoom: 100%;
--home-icon-image-position: bottom;
--server-listing-width: 72px;
--font-size: 93%;
--mention-color: #faa61a0d;
--mention-sider: #faa61aff;
--mention-hover-color: #faa61a14;
--category-hover-color: #3cca8aff;
--unread-server-animation: rainbow;
--video-screen-button-background-color: #c8c8c833;
--video-screen-button-foreground-color: #ffffffff;
--video-screen-button-background-hovor-color: #c8c8c866;
--video-screen-button-foreground-hovor-color: #ffffffff;
--member-listing-role-color: #43b581ff;
--small-user-popout-background-image: url('https://i.imgur.com/mxURSLg.gif');
--small-user-popout-background-transparency: #00000099;
--small-user-popout-background-image-position: bottom;
--big-user-popout-background-image: url('https://i.imgur.com/mxURSLg.gif');
--big-user-popout-background-transparency: #00000099;
--big-user-popout-background-image-position: bottom;
--code-markup-background-color: #00000099;
--code-markup-border: 1px solid transparent;
--message-box-transparency: #00000099;
--embed-background-transparency: #00000099;
--message-hover-buttons-background: #c8c8c81a;
--context-menu-transparency: #0f0f0fcc;
--add-discover-icon-transparency: #c8c8c826;
--add-discover-icon-color: #43b581;
--channel-limit-count-color: #43b581;
--channel-limit-background-left: #c8c8c81a;
--channel-limit-background-right: #c8c8c833;
--scrollbar-color: #c8c8c833;
--unread-message-divider-color: #f04747;
--unread-message-divider-font-color: #ffffff;
--new-messages-bar-background-color: #7289da;
--new-messages-bar-font-color: #ffffff;
--emoji-menu-background-color: #ffffff;
--emoji-menu-sider-background-color: #ffffff;
--emoji-menu-server-header-background-color: #ffffff;
--emoji-menu-bottom-bar-background-color: #ffffff;
--emoji-menu-search-bar-background-color: #ffffff;
--message-search-menu-background-color: #000000cc;
--message-search-container-background-color: #00000099;
--message-search-result-background-color: #c8c8c80d;
--text-voice-channel-color: #8e9297ff;
--text-voice-channel-hover-color: #dcddde;
--text-voice-channel-selected-text-color: #ffffff;
--unread-text-channel-color: #ffffff;
--unread-text-channel-bubble-color: #ffffff;
--folder-background-color: #2f3136;
--expanded-folder-background-color: #00000000;
--reaction-emoji-background-color: #00000000;
--reaction-emoji-border-color: 1px solid transparent;
--reaction-emoji-hover-background-color: #ffffff1a;
--reaction-emoji-hover-border-color: #ffffff33;
--rs-small-spacing: 0px;
--rs-medium-spacing: 0px;
--rs-large-spacing: 0px;
--rs-small-width: 1px;
--rs-medium-width: 2px;
--rs-large-width: 1px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
--rs-phone-visible: block;
}
